In [1]:
import pandas as pd
from NaiveBayes import NaiveBayes
from sklearn.model_selection import train_test_split
import numpy as np

In [2]:
df = pd.read_csv("adult.data", header=None)

In [3]:
columns = ["age", "work-class", "fnlwgt", "education", "education-num", "maritial-status", "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "income"]

df.columns = columns

In [4]:
df.isna().sum().sum()

0

In [5]:
df = df.replace(" ?", np.nan)

In [6]:
df.isna().sum().sum()

4262

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              32561 non-null  int64
 1   work-class       30725 non-null  object
 2   fnlwgt           32561 non-null  int64
 3   education        32561 non-null  object
 4   education-num    32561 non-null  int64
 5   maritial-status  32561 non-null  object
 6   occupation       30718 non-null  object
 7   relationship     32561 non-null  object
 8   race             32561 non-null  object
 9   sex              32561 non-null  object
 10  capital-gain     32561 non-null  int64
 11  capital-loss     32561 non-null  int64
 12  hours-per-week   32561 non-null  int64
 13  native-country   31978 non-null  object
 14  income           32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [8]:
def impute(df):
    for column in df.columns:
        if df[column].dtype == "object":
            df[column] = df[column].fillna(df[column].mode()[0])
        else:
            df[column] = df[column].fillna(df[column].mean())

In [9]:
impute(df)

In [10]:
df.isna().sum().sum()

0

In [11]:
train, test = train_test_split(df, test_size=0.33, random_state=42)
train.reset_index(drop=True, inplace=True)
test.reset_index(drop=True, inplace=True)

In [12]:
integer_columns = ["age", "fnlwgt", "education-num", "capital-gain", "capital-loss", "hours-per-week"]

ranges: dict[str, np.array] = dict()
def convert_from_integer_to_range(df, columns, n_bins=100, _test=False):
    for column in columns:
        if not _test:
            ranges[column] = pd.cut(df[column], bins=n_bins, labels=False, retbins=True)[1]
        df[column] = pd.cut(df[column], bins=ranges[column], labels=False)
        

convert_from_integer_to_range(train, integer_columns)

In [13]:
naive = NaiveBayes(train, "income")

In [14]:
convert_from_integer_to_range(test, integer_columns, _test=True)

In [15]:
naive.accuracy(test)

0.8324958123953099